Long-term international migration 2.02, last or next resident, UK and England and Wales

In [1]:
from gssutils import *
scraper = Scraper('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/longterminternationalmigrationcountryoflastornextresidencetable202')
scraper

## Long-term international migration 2.02, country of last or next residence, UK and England and Wales

Nation of origin or destination of migrants. Estimates of Long-Term International Migration, annual table.

### Distributions

1. Long-term international migration 2.02, country of last or next residence, UK and England and Wales ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/longterminternationalmigrationcountryoflastornextresidencetable202/current/2.02ltimcountryoflastornextresidence2004to2017.xls))

In [2]:
tab = next(t for t in scraper.distribution().as_databaker() if t.name == 'Table 2.02')

In [3]:
cell = tab.filter('Year')
cell.assert_one()
Residence = cell.fill(RIGHT).is_not_blank().is_not_whitespace()  | \
            cell.shift(0,1).fill(RIGHT).is_not_blank().is_not_whitespace() | \
            cell.shift(0,2).fill(RIGHT).is_not_blank().is_not_whitespace() 
Residence = Residence - tab.filter(contains_string('Revisions'))  - \
                          tab.filter(contains_string('Original Estimates1')) -\
                          tab.filter(contains_string('All'))

In [4]:
observations = cell.shift(RIGHT).fill(DOWN).filter('Estimate').expand(RIGHT).filter('Estimate') \
                .fill(DOWN).is_not_blank().is_not_whitespace() \
                .filter(lambda x: type(x.value) != str or 'Statistically Significant Decrease' not in x.value)
observations = observations - (tab.excel_ref('A1').expand(DOWN).expand(RIGHT).filter(contains_string('Significant Change')))
original_estimates = tab.filter(contains_string('Original Estimates')).fill(DOWN).is_number()
observations = observations - original_estimates

In [5]:
CI = observations.shift(RIGHT)

In [6]:
Year = cell.fill(DOWN) & observations.fill(LEFT)
Year = Year.filter(lambda x: type(x.value) != str or 'Significant Change?' not in x.value)

In [7]:
Geography = cell.fill(DOWN).one_of(['United Kingdom', 'England and Wales'])
Flow = cell.fill(DOWN).one_of(['Inflow', 'Outflow', 'Balance'])

In [8]:
csObs = ConversionSegment(observations, [
    HDim(Year,'Year', DIRECTLY, LEFT),
    HDim(Geography,'Geography', CLOSEST, ABOVE),
    HDim(Residence, 'Residence', DIRECTLY, ABOVE),
    HDim(Flow, 'Migration Flow', CLOSEST, ABOVE),
    HDimConst('Measure Type', 'Count'),
    HDimConst('Unit','People (thousands)'),
    HDim(CI,'CI',DIRECTLY,RIGHT),
    HDimConst('Revision', '2011 Census Revision')
])
tidy_revised = csObs.topandas()

In [9]:
csRevs = ConversionSegment(original_estimates, [
    HDim(Year, 'Year', DIRECTLY, LEFT),
    HDim(Geography,'Geography', CLOSEST, ABOVE),
    HDim(Residence, 'Residence', DIRECTLY, ABOVE),
    HDim(Flow, 'Migration Flow', CLOSEST, ABOVE),
    HDimConst('Measure Type', 'Count'),
    HDimConst('Unit','People (thousands)'),
    HDim(original_estimates.shift(RIGHT), 'CI', DIRECTLY, RIGHT),
    HDimConst('Revision', 'Original Estimate')
])
orig_estimates = csRevs.topandas()

In [10]:
tidy = pd.concat([tidy_revised, orig_estimates], axis=0, join='outer', ignore_index=True, sort=False)

In [11]:
tidy['Residence'].fillna('all', inplace = True)

In [12]:
import numpy as np
tidy['OBS'].replace('', np.nan, inplace=True)
tidy.dropna(subset=['OBS'], inplace=True)
if 'DATAMARKER' in tidy.columns:
    tidy.drop(columns=['DATAMARKER'], inplace=True)
tidy.rename(columns={'OBS': 'Value'}, inplace=True)
tidy['Value'] = tidy['Value'].astype(int)
tidy['CI'] = tidy['CI'].map(lambda x:
                            '' if x == ':' else int(x[:-2]) if x.endswith('.0') else 'ERR')

In [13]:
for col in tidy.columns:
    if col not in ['Value', 'Year', 'CI']:
        tidy[col] = tidy[col].astype('category')
        display(col)
        display(tidy[col].cat.categories)

'Geography'

Index(['England and Wales', 'United Kingdom'], dtype='object')

'Residence'

Index(['Asia', 'Central and South America', 'East Asia', 'European Union EU15',
       'European Union EU2', 'European Union EU8', 'European Union Other',
       'European Union2', 'Middle East and Central Asia',
       'Non-European Union3', 'North Africa', 'North America', 'Oceania',
       'Other Europe3', 'Rest of the World', 'South Asia', 'South East Asia',
       'Sub-Saharan Africa', 'all'],
      dtype='object')

'Migration Flow'

Index(['Balance', 'Inflow', 'Outflow'], dtype='object')

'Measure Type'

Index(['Count'], dtype='object')

'Unit'

Index(['People (thousands)'], dtype='object')

'Revision'

Index(['2011 Census Revision', 'Original Estimate'], dtype='object')

In [14]:
tidy['Geography'] = tidy['Geography'].cat.rename_categories({
    'United Kingdom': 'K02000001',
    'England and Wales': 'K04000001'
})
tidy['Residence'] = tidy['Residence'].cat.rename_categories({
    'Asia' : 'asia',
    'Central and South America' : 'central-and-south-america', 
    'East Asia' : 'east-asia', 
    'European Union EU15' : 'eu15',
    'European Union EU2' : 'eu2', 
    'European Union EU8' : 'eu8', 
    'European Union Other' : 'eu-other',
    'European Union2' : 'eu' , 
    'Middle East and Central Asia' : 'middle-east-and-central-asia' ,
    'Non-European Union3' : 'non-eu', 
    'North Africa' : 'north-africa', 
    'North America' : 'north-america', 
    'Oceania' : 'oceania',
    'Other Europe3' : 'europe-exc-eu', 
    'Rest of the World' : 'rest-of-world', 
    'South Asia' : 'south-asia', 
    'South East Asia' :'south-east-asia',
    'Sub-Saharan Africa' : 'sub-saharan-africa'
        
})
tidy['Migration Flow'] = tidy['Migration Flow'].cat.rename_categories({
    'Balance': 'balance', 
    'Inflow': 'inflow',
    'Outflow': 'outflow'
})

tidy = tidy[['Geography', 'Year', 'Residence', 'Migration Flow',
             'Value', 'Measure Type', 'Unit', 'CI', 'Revision']]

In [15]:
tidy['Year'] = tidy['Year'].apply(lambda x: pd.to_numeric(x, downcast='integer'))

In [16]:
tidy['Year'] = tidy['Year'].astype(int)

In [17]:
tidy

,Geography,Year,Residence,Migration Flow,Value,Measure Type,Unit,CI,Revision
0,K02000001,2004,all,inflow,589,Count,People (thousands),40,2011 Census Revision
1,K02000001,2004,eu,inflow,151,Count,People (thousands),24,2011 Census Revision
2,K02000001,2004,eu15,inflow,98,Count,People (thousands),18,2011 Census Revision
3,K02000001,2004,eu8,inflow,51,Count,People (thousands),16,2011 Census Revision
5,K02000001,2004,eu-other,inflow,2,Count,People (thousands),2,2011 Census Revision
6,K02000001,2004,non-eu,inflow,438,Count,People (thousands),32,2011 Census Revision
7,K02000001,2004,europe-exc-eu,inflow,19,Count,People (thousands),6,2011 Census Revision
8,K02000001,2004,asia,inflow,213,Count,People (thousands),25,2011 Census Revision
9,K02000001,2004,middle-east-and-central-asia,inflow,31,Count,People (thousands),12,2011 Census Revision
10,K02000001,2004,east-asia,inflow,57,Count,People (thousands),16,2011 Census Revision
11,K02000001,2004,south-asia,inflow,91,Count,People (thousands),14,2011 Census Revision
12,K02000001,2004,south-east-asia,inflow,33,Count,People (thousands),8,2011 Census Revision
13,K02000001,2004,rest-of-world,inflow,206,Count,People (thousands),18,2011 Census Revision
14,K02000001,2004,sub-saharan-africa,inflow,96,Count,People (thousands),13,2011 Census Revision
15,K02000001,2004,north-africa,inflow,7,Count,People (thousands),3,2011 Census Revision
16,K02000001,2004,north-america,inflow,34,Count,People (thousands),8,2011 Census Revision
17,K02000001,2004,central-and-south-america,inflow,15,Count,People (thousands),6,2011 Census Revision
18,K02000001,2004,oceania,inflow,53,Count,People (thousands),8,2011 Census Revision
19,K02000001,2005,all,inflow,567,Count,People (thousands),37,2011 Census Revision
20,K02000001,2005,eu,inflow,185,Count,People (thousands),27,2011 Census Revision
21,K02000001,2005,eu15,inflow,105,Count,People (thousands),19,2011 Census Revision
22,K02000001,2005,eu8,inflow,77,Count,People (thousands),18,2011 Census Revision
24,K02000001,2005,eu-other,inflow,3,Count,People (thousands),3,2011 Census Revision
25,K02000001,2005,non-eu,inflow,381,Count,People (thousands),26,2011 Census Revision
26,K02000001,2005,europe-exc-eu,inflow,22,Count,People (thousands),8,2011 Census Revision
27,K02000001,2005,asia,inflow,188,Count,People (thousands),20,2011 Census Revision
28,K02000001,2005,middle-east-and-central-asia,inflow,22,Count,People (thousands),5,2011 Census Revision
29,K02000001,2005,east-asia,inflow,49,Count,People (thousands),12,2011 Census Revision
30,K02000001,2005,south-asia,inflow,88,Count,People (thousands),13,2011 Census Revision
31,K02000001,2005,south-east-asia,inflow,29,Count,People (thousands),8,2011 Census Revision
...,...,...,...,...,...,...,...,...,...
1669,K04000001,2016,north-america,balance,-6,Count,People (thousands),9,2011 Census Revision
1670,K04000001,2016,central-and-south-america,balance,7,Count,People (thousands),7,2011 Census Revision
1671,K04000001,2016,oceania,balance,-5,Count,People (thousands),9,2011 Census Revision
1672,K04000001,2017,all,balance,267,Count,People (thousands),45,2011 Census Revision
1673,K04000001,2017,eu,balance,59,Count,People (thousands),35,2011 Census Revision
1674,K04000001,2017,eu15,balance,11,Count,People (thousands),27,2011 Census Revision
1675,K04000001,2017,eu8,balance,9,Count,People (thousands),14,2011 Census Revision
1676,K04000001,2017,eu2,balance,38,Count,People (thousands),15,2011 Census Revision
1677,K04000001,2017,eu-other,balance,1,Count,People (thousands),9,2011 Census Revision
1678,K04000001,2017,non-eu,balance,209,Count,People (thousands),29,2011 Census Revision
1679,K04000001,2017,europe-exc-eu,balance,11,Count,People (thousands),10,2011 Census Revision
1680,K04000001,2017,asia,balance,145,Count,People (thousands),19,2011 Census Revision
1681,K04000001,2017,middle-east-and-central-asia,balance,25,Count,People (thousands),8,2011 Census Revision
1682,K04000001,2017,east-asia,balance,51,Count,People (thousands),12,2011 Census Revision
1683,K04000001,2017,south-asia,balance,58,Count,People (thousands),11,2011 Census Revision
1684,K04000001,2017,south-east-asia,balance,10,Count,People (thousands),7,2011 Census Revision
1685,K04000001,2017,rest-of-world,balance,53,Count,People (thousands),19,2011 Census Revision
1686,K04000001,2017,sub-saharan-africa,balance,27,Count,People (thousands),8,2011 Census Revision
1687,K04000001,2017,north-africa,balance,4,Count,People (thousands),2,2011 Census Revision
1688,K04000001,2017,north-america,balance,8,Count,People (thousands),11,2011 Census Revision
1689,K04000001,2017,central-and-south-america,balance,2,Count,People (thousands),5,2011 Census Revision
1690,K04000001,2017,oceania,balance,12,Count,People (thousands),13,2011 Census Revision
1710,K02000001,2004,all,balance,245,Count,People (thousands),49,Original Estimate
1711,K02000001,2005,all,balance,206,Count,People (thousands),49,Original Estimate
1712,K02000001,2006,all,balance,198,Count,People (thousands),52,Original Estimate
1713,K02000001,2007,all,balance,233,Count,People (thousands),48,Original Estimate
1714,K02000001,2008,all,balance,163,Count,People (thousands),57,Original Estimate
1715,K02000001,2009,all,balance,198,Count,People (thousands),37,Original Estimate
1716,K02000001,2010,all,balance,252,Count,People (thousands),37,Original Estimate
1717,K02000001,2011,all,balance,215,Count,People (thousands),35,Original Estimate

In [18]:
from pathlib import Path
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

tidy.to_csv(destinationFolder / ('observations.csv'), index = False)

In [19]:
from gssutils.metadata import THEME

scraper.dataset.family = 'migration'
scraper.dataset.theme = THEME['population']
scraper.dataset.license = 'http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/'

with open(destinationFolder / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())